<h1>Bands</h1>
<ul>
<% @bands.each do |band| %>
  <li>
    <%= band.name %> <%= link_to "edit", edit_band_path(band) %>
      <ul>
        <% band.albums.each do |album| %>
        <li>
          <%=link_to album.name, album_path(album) %>
        </li>
        <% end %>
      </ul>
  </li>
<% end %>
</ul>