<div class="wrapper">
<h1>Bands</h1>

<% @bands.each do |band| %>
<div class="RecentAlbums">
  <h2><%= link_to band.name, band_path(band) %></h2>
  <% band.albums.each do |album| %>
  <div class="album">
    <%= link_to "#{image_tag(album.album_art)}".html_safe, band_album_path(album.band, album) %>
  </div>
  <% end %>
</div>
<% end %>
</div>
